.card {
  display: flex;
  flex-direction: column;
  background: #202024;
  border: 1px solid #2d2d31;
  border-radius: 4px;
  padding: 10px 15px;
}

.card button {
  background: #7159c1;
  padding: 5px 15px;
  border-radius: 4px;
  height: 38px;
  font: 16px 'Poppins', sans-serif;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 15px;
}

.card button:hover {
  background: #7a61cc;
  transition: 0.2s background;
}

.card button:disabled {
  opacity: 0.8;
  cursor: initial;
}

.card .mute {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.card .mute svg {
  margin-right: 5px;
}

.isMuted {
  transition: 0.2s opacity;
}

.isMuted:disabled {
  opacity: 0.8 !important;
}

.card .isMuted {
  opacity: 0.8;
}

.card .isMuted:hover {
  opacity: 1;
}